.popup__submit-button {
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  min-height: 50px;
  background-color: #000;
  color: #FFF;
  transition: .2s;
  margin-top: 31.34px;
  margin-bottom: 36.5px;
  border-radius: 2px;
  outline: auto;
  padding: 0;
}

.popup__submit-button.disabled {
  background-color: #FFF;
  color: #C4C4C4;
}

.popup__submit-button:hover {
  cursor: pointer;
  opacity: .8;
}

.popup__submit-button.disabled:hover {
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .popup__submit-button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
    margin-bottom: 25px;
  }
}  
  