.elements__title {
  max-width: 90%;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.09px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}