.popup__form-field {
  margin-bottom: 30px;
  border: 0;
  width: 100%;
  height: 24px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(000, 0, 0, .2);
  background-color: transparent;
  font-size: 14px;
}
 
.popup__form-field:last-of-type {
  margin-bottom: 0;
}

.popup__form-field_error_active {
  border: 1px solid red; /* красная рамка для некорректных данных */
} 

.popup__form-field_valid {
  border: 1px solid green; /* зелёная - для корректных */
} 