.elements__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-button.svg);
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  transition: .2s;
}

.elements__like-button:hover{
  cursor: pointer;
  opacity: 60%;
}

.elements__like-button:active{
  background-image: url(../../../images/like-button-active.svg);
  opacity: 100%;
}